body {
    margin: 0;

}

#main {
    height: 140vh;
    background-image: url(/photos/law.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    position: relative;


}



#list {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    width: auto;
    height: 200px

}
#list ul  {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

#list ul li {
    display: flex;
    justify-content: space-between;

}


#list ul li a {
    text-decoration: none;
    margin: 2em;
    font-size: 1.5em;
    color: black;
    font-family: 'Tauri';
    text-decoration-color: black;


}

#text {
    height: 700px;
    display: flex;
}

#NAPIS {
    height: 100px;
    font-family: 'Tauri';
    color: white;
    text-align: center;
    font-size: 3.5em;
    position: absolute;
    top: 50%;
    left: 4%;
}

#CONTENT {

    text-align: justify;
    font-family: 'Arial';
    padding: 4.5em;
}

h1 {
    font-family: 'Tauri';
    text-align: center;
}

#text {
    display: flex;
    flex-direction: column;
}

#karty{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1em;
}


#karty img {
    height: 150px;
    width: 150px;
}
