body {
    margin: 0;

}

#main {
    height: 140vh;
    background-image: url(/photos/law.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    position: relative;


}



#list {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    width: auto;
    height: 200px

}
#list ul  {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

#list ul li {
    display: flex;
    justify-content: space-between;

}


#list ul li a {
    text-decoration: none;
    margin: 2em;
    font-size: 1.5em;
    color: black;
    font-family: 'Tauri';
    text-decoration-color: black;


}

#text {
    height: 800px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap
}

#NAPIS {
    height: 100px;
    font-family: 'Tauri';
    color: white;
    text-align: center;
    font-size: 3.5em;
    position: absolute;
    top: 50%;
    left: 4%;
}

#tekst {

}


